*{
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(51, 51, 51);
}

.wrapper{
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    margin: auto;
    max-width: 560px;
    max-height: 360px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(79, 83, 92, 0.151), 0 8px 16px rgba(79, 83, 92, 0.151);
    grid-template-columns: 112px 112px 112px 112px 112px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    grid-template-areas: "input1 input1 input1 result result"
                        "input1 input1 input1 result result"
                        "number7 number8 number9 add sub"
                        "number4 number5 number6 mult divide"
                        "number1 number2 number3 bspc bspc"
                        "number0 dot equalto info theme";
}



.inputarea{
    grid-area: input1;
    padding: 10px;
    font-size: 1rem;
    border-top-left-radius: 12px;
    background-color: rgb(48, 52, 61);
    resize: none;
    border: 0;
    color: whitesmoke;
}

.inputarea:focus{
    outline: none;
}

.resultarea{
    grid-area: result;
    padding: 10px;
    font-size: 1rem;
    border-top-right-radius: 12px;
    background-color: rgb(66, 71, 83);
    resize: none;
    border: 0;
    color: whitesmoke;
}

.buttons{
    background-color: rgb(70, 74, 82);
    color: whitesmoke;
    border: 0;
}

.buttons:hover{
    background-color: rgba(255, 255, 255, 0.664);
    color: rgba(54, 57, 63);
    border-radius: 5px;
}

.number0{
    grid-area: number0;
    border-bottom-left-radius: 12px;
}
.number1{
    grid-area: number1;
}
.number2{
    grid-area: number2;
}
.number3{
    grid-area: number3;
}
.number4{
    grid-area: number4;
}
.number5{
    grid-area: number5;
}
.number6{
    grid-area: number6;
}
.number7{
    grid-area: number7;
}
.number8{
    grid-area: number8;
}
.number9{
    grid-area: number9;
}

.dot{
    grid-area: dot;
}

.equalto{
    grid-area: equalto;
}

.add{
    grid-area: add;
}

.sub{
    grid-area: sub;
}

.divide{
    grid-area: divide;
}

.mult{
    grid-area: mult;
}

.clear{
    grid-area: bspc;
}

.info{
    grid-area: info;
}

.theme{
    grid-area: theme;
    border-bottom-right-radius: 12px;
}

.clear:hover{
    background-color: rgb(70, 74, 82);
}

.info:hover{
    background-color: rgb(70, 74, 82);
}

.theme:hover{
    background-color: rgb(70, 74, 82);
}

.clear :hover{
    filter: drop-shadow(0px 0px 10px #9b9b9b);
}

.info :hover{
    filter: drop-shadow(0px 0px 10px #9b9b9b);
}

.theme :hover{
    filter: drop-shadow(0px 0px 10px #9b9b9b);
}

